@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #a1f0e9;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
